### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

color = sns.color_palette()

%matplotlib inline

### Files and folders

In [2]:
from subprocess import check_output
#print(check_output(["ls", "./input"]).decode("utf8"))
os.listdir('.\input')

['aisles',
 'aisles.csv',
 'departments',
 'departments.csv',
 'orders',
 'orders.csv',
 'order_products__prior',
 'order_products__prior.csv',
 'order_products__train',
 'order_products__train.csv',
 'products',
 'products.csv',
 'sample_submission',
 'sample_submission.csv']

In [3]:
aisles_df = pd.read_csv('./input/aisles.csv')
departments_df = pd.read_csv('./input/departments.csv')
order_products__prior_df = pd.read_csv('./input/order_products__prior.csv')
order_products__train_df = pd.read_csv('./input/order_products__train.csv')
orders_df = pd.read_csv('./input/orders.csv')
products_df = pd.read_csv('./input/products.csv')
sample_submission_df = pd.read_csv('./input/sample_submission.csv')

### Aisles

In [4]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [5]:
aisles_df.shape

(134, 2)

### Departments

In [6]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [7]:
departments_df.shape

(21, 2)

### Orders - Prior

In [8]:
order_products__prior_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
order_products__prior_df.shape

(32434489, 4)

### Orders - Train

In [10]:
order_products__train_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [11]:
order_products__train_df.shape

(1384617, 4)

### Orders

In [12]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [13]:
orders_df.shape
orders_df.eval_set.value_counts()

prior    3214874
train     131209
test       75000
Name: eval_set, dtype: int64

### Product - Details

In [14]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [15]:
products_df.shape

(49688, 4)

### Products in Each Department

In [16]:
pd.merge(departments_df, products_df, on="department_id", how="inner")['department'].value_counts()

personal care      6563
snacks             6264
pantry             5371
beverages          4365
frozen             4007
dairy eggs         3449
household          3085
canned goods       2092
dry goods pasta    1858
produce            1684
bakery             1516
deli               1322
missing            1258
international      1139
breakfast          1115
babies             1081
alcohol            1054
pets                972
meat seafood        907
other               548
bulk                 38
Name: department, dtype: int64

### Sample submissions

In [17]:
sample_submission_df.head()

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

In [18]:
sample_submission_df.shape

(75000, 2)